@page "/"
<PageTitle>Dashboard | Admin Center</PageTitle>

<div class="container-fluid">
    <div class="row">

        <div class="col-9">
            <div class="page-title">
                <h1>Dashboard</h1>
                <p>Overview</p>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <Devices />
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <Activities />
                </div>
                <div class="col-6">
                    <Warnings />
                </div>
            </div>
        </div>
        
        <!-- details panel -->
        <div class="col-3"></div>
    </div>
</div>