<div class="container">
    <div class="site-title">
        Admin Center
    </div>
    <nav class="nav">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="fa-regular fa-chart-line me-3"></i> Dashboard
        </NavLink>
        <NavLink class="nav-link" href="/settings">
            <i class="fa-regular fa-cog me-3"></i> Settings
        </NavLink>
    </nav>

</div>

@code {

}


